.cards {
  padding: 12px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  ion-card {
    max-width: 25%;
    @media (max-width: 798.98px) {
      min-width: 75%;
    }
    ion-card-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .per-servicel {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
  }
  ion-button {
    text-transform: capitalize;
  }
  .rating {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}
.filter-search {
  max-width: 1440px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  margin-inline: auto;
  ion-searchbar {
    width: 85%;
  }
  ion-buttons {
    background: #5f60b9;
    box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-right: 12px;
  }
}
.searchbar-input.sc-ion-searchbar-md {
  /**border not appliny*/
  border: 1px solid #5f60b9;
  border-radius: 8px;
}
.sc-ion-searchbar-md-h {
  --box-shadow: 0px 24px 50px rgba(95, 96, 185, 0.15);
}
