<bw-filter-menu (services$)="onLoadServices($event)"></bw-filter-menu>
<div class="ion-page" id="main-content">
  <ion-content>
    <div class="filter-search">
      <ion-searchbar placeholder="Cleaning services, 1901 Thornridge Cir. Westlands..."></ion-searchbar>
      <ion-buttons slot="start">
        <ion-menu-button> <img [src]="filtericon" alt=""></ion-menu-button>
      </ion-buttons>
    </div>
    <div class="cards">
      <ion-card *ngFor="let service of bwServices" (click)="onSeviceClick(service.id)">
        <img loading="lazy" alt="..."
          [src]="'http://dummyimage.com/1024x700.png/3880ff/ffffff&text='+service.serviceTitle" />
        <ion-card-header>
          <ion-card-title>{{service.serviceTitle}}
            <ion-button expand="block" (click)="onBooking($event, service.id)">Book
              <ion-icon slot="end" [src]=bookicon></ion-icon>
            </ion-button>
          </ion-card-title>
          <ion-card-subtitle>{{service.price | currency:'KES'}} <span class="per-servicel">/ Per
              Service</span></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="display: flex; flex-direction: column; justify-content: space-between;">
          <div class="mb-12 "> {{service.serviceDescription}} </div>
          <div class="rating">
            <img alt="..." src="assets/icon/solar--map-point-wave-bold-duotone.svg" />
            <div class="distance-text">{{service.distance}} Km away</div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>

<bw-booking (showBookingToast$)="toggleToast($event)" (dismissModal$)="serviceId = ''" *ngIf="serviceId"
  [id]="serviceId" [modalId]="serviceId"></bw-booking>

<ion-toast [isOpen]="showToast$" [message]="showToastMessage$" [duration]="5000"></ion-toast>