<ion-menu side="end" contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Filter By</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="filter-cards">
            <ion-card class="filter-by-service">
                <ion-card-header>
                    <ion-card-title>Service Name List</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                        <ion-item *ngFor="let item of bwServiceTypes">
                            {{item.serviceName}}
                            <ion-checkbox labelPlacement="start" [value]="item"
                                (ionChange)="onBWServiceTypeChange($event, item.id)"> </ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
            <ion-card class="filter-by-distance">
                <ion-card-header>
                    <ion-card-title>Distance (km)</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-range aria-label="Range with knob events" (ionKnobMoveEnd)="onDistanceIonKnobMoveEnd($event)"
                        [dualKnobs]="true" [value]="{ lower: minDistance, upper: maxDistance }" [pin]="true"
                        [pinFormatter]="pinDistanceFormatter" [min]="minDistance" [max]="maxDistance">
                        <ion-label slot="start">{{minDistance}}</ion-label>
                        <ion-label slot="end">{{maxDistance}}</ion-label>
                    </ion-range>
                </ion-card-content>
            </ion-card>
            <ion-card class="filter-by-price">
                <ion-card-header>
                    <ion-card-title>Price in KES</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-range aria-label="Range with knob events" (ionKnobMoveEnd)="onPriceIonKnobChange($event)"
                        [dualKnobs]="true" [value]="{ lower: minPrice, upper: maxPrice }" [pin]="true"
                        [pinFormatter]="pinPriceFormatter" [min]="minPrice" [max]="maxPrice"> <ion-label
                            slot="start">{{minPrice |
                            currency:'KES'}}</ion-label>
                        <ion-label slot="end">{{maxPrice | currency:'KES'}}</ion-label></ion-range> </ion-card-content>
            </ion-card>
        </div>
        <ion-menu-toggle>
            <ion-button>Apply({{results$ | async}} Results)</ion-button>
        </ion-menu-toggle>
    </ion-content>
</ion-menu>