.book-btn {
  width: 50%;
  margin-inline: auto;
  @media (max-width: 575.98px) {
    width: 95%;
  }
}
.service-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #5f60b9;
  margin-bottom: 14px;
}

.service-title,
.provider-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-transform: capitalize;
}
.back-btn {
  a {
    width: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    text-decoration: none;
  }
}
ion-content {
  --background: url('http://dummyimage.com/1024x1024.png/3880ff/ffffff&text=Bingwa Services')
    no-repeat center/ cover var(--ion-color-primary-contrast);
  position: relative;
  height: 100%;
  width: 100%;

  ion-button {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

ion-chip {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

.card {
  margin: 0 auto;

  .header {
    height: 200px; // 20vh;

    .avater {
      width: 160px; //40vw
      height: 160px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: calc(-1 * (80px + 4px)); // -42px;
        background-color: var(--ion-color-primary-contrast);
      }
    }
  }
}

.card-body {
  background-color: rgb(255, 255, 255, 0.85);
  padding: 30px;
  max-width: 798.98px;
  margin-inline: auto;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 24px;

  .user-meta {
    .providername {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
    }

    .country {
      font-size: 90%;
      color: #949ea6;
      text-transform: uppercase;
      margin: 0 auto;
    }
  }
}
ion-thumbnail {
  width: 24px;
  height: 24px;
}
