<!-- <ion-content class="ion-padding" *ngIf="service">
    <div class="back-btn"> <a routerLink="/"><img src="assets/icon/solar_round-arrow-left-bold-duotone.svg" alt="">
            <div>Go
                Back</div>
        </a>
    </div>
    <div>
        <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <div class="book-btn"> <ion-button>Book
                    <ion-icon slot="end" [src]=bookicon></ion-icon>
                </ion-button></div>
            <div class="card-float">
                <ion-card-header>
                    <ion-card-title>
                        <div>Home>Cleaning </div>
                        <div class="service-title">{{service.serviceTitle}}</div>
                    </ion-card-title>
                    <ion-card-subtitle class="service-price">{{service.price | currency:'KES'}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="duration-container">
                        <div class="duration-text">Duration:</div>
                        <div class="duration">01h</div>
                    </div>
                    <div class="rating-container">
                        <div class="rating-text">Rating:</div>
                        <div class="rating">
                            <div><img *ngFor="let rate of [1,2,3,4,5,6]"
                                    src="assets/icon/solar--star-circle-bold-duotone.svg" alt="">
                            </div>
                            <div>4.3</div>
                        </div>
                    </div>
                </ion-card-content>
            </div>
            <ion-item lines="inset" class=" provider-card">
                <ion-card-header>
                    <div class="service-title">Description</div>
                    <div class="mb-12 "> {{service.serviceDescription}} </div>
                </ion-card-header>
            </ion-item>
            <ion-item lines="none" style="display: flex;align-items: center;">
                <ion-avatar slot="start" style="width: 120px; height: 120px;">
                    <img alt="..." [src]="service.serviceProvider.avatar" />
                </ion-avatar>
                <ion-label class="provider-title">
                    {{service.serviceProvider.fname}}
                    {{service.serviceProvider.lname}}
                    <img src="assets/icon/solar_medal-ribbon-star-bold-duotone.svg" alt="">
                </ion-label>
            </ion-item>
            <div class="mb-24 ">
                <ion-list>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img alt="..." src="assets/icon/ph--at-duotone.svg" />
                        </ion-thumbnail>
                        <ion-label>{{service.serviceProvider.email}}</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img alt="..." src="assets/icon/solar--phone-calling-rounded-bold-duotone.svg" />
                        </ion-thumbnail>
                        <ion-label>{{service.serviceProvider.phone}}</ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-thumbnail slot="start">
                            <img alt="..." src="assets/icon/solar--map-point-wave-bold-duotone.svg" />
                        </ion-thumbnail>
                        <ion-label>{{service.serviceProvider.distance}} Km away</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-card>
    </div>
</ion-content> -->

<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" class="back-btn">
                <a routerLink="/"><img src="assets/icon/solar--arrow-left-line-duotone.svg" alt="">
                </a>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding" *ngIf="service">
    <div class="card">
        <div class="header">
            <div class="avater">
                <img alt="..." [src]="service.serviceProvider.avatar" />
            </div>
        </div>
        <div class="card-body mb-24">
            <div class="card">
                <ion-card-header>
                    <ion-card-subtitle>
                        <div class="service-price">{{service.price | currency:'KES'}}</div>
                        <div><img *ngFor="let rate of [1,2,3,4,5,6]"
                                src="assets/icon/solar--star-circle-bold-duotone.svg" alt="">
                        </div>
                    </ion-card-subtitle>
                    <ion-card-title>
                        <div class="service-title mb-12 ">{{service.serviceTitle}}</div>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="mb-12 "> {{service.serviceDescription}} </div>
                </ion-card-content>
            </div>
            <div> <ion-button class="book-btn">Book
                    <ion-icon slot="end" [src]=bookicon></ion-icon>
                </ion-button></div>
            <div class="user-meta ion-text-center mb-12">
                <div class="provider-title">
                    {{service.serviceProvider.fname}}
                    {{service.serviceProvider.lname}}
                    <img src="assets/icon/solar_medal-ribbon-star-bold-duotone.svg" alt="">
                </div>
            </div>
            <ion-list>
                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <img alt="..." src="assets/icon/ph--at-duotone.svg" />
                    </ion-thumbnail>
                    <ion-label>{{service.serviceProvider.email}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <img alt="..." src="assets/icon/solar--phone-calling-rounded-bold-duotone.svg" />
                    </ion-thumbnail>
                    <ion-label>{{service.serviceProvider.phone}}</ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <img alt="..." src="assets/icon/solar--map-point-wave-bold-duotone.svg" />
                    </ion-thumbnail>
                    <ion-label>{{service.serviceProvider.distance}} Km away</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>