<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" class="back-btn">
                <a routerLink="/"><img src="assets/icon/solar--arrow-left-line-duotone.svg" alt="">
                </a>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding" *ngIf="service">
    <div class="card">
        <div class="header">
            <div class="avater">
                <img alt="..." [src]="service.serviceProvider.avatar" />
            </div>
        </div>
        <div class="card-body mb-24">
            <div class="card">
                <ion-card-header>
                    <ion-card-subtitle>
                        <div class="service-price">{{service.price | currency:'KES'}}</div>
                        <div><img *ngFor="let rate of [1,2,3,4,5,6]"
                                src="assets/icon/solar--star-circle-bold-duotone.svg" alt="">
                        </div>
                    </ion-card-subtitle>
                    <ion-card-title>
                        <div class="service-title mb-12 ">{{service.serviceTitle}}</div>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="mb-12 "> {{service.serviceDescription}} </div>
                </ion-card-content>
            </div>
            <div>
                <ion-button [id]="'open-modal-'+service.id" expand="block" class="book-btn"
                    (click)="toggleShowBooking()">Book
                    <ion-icon slot="end" [src]=bookicon></ion-icon>
                </ion-button>
            </div>
            <div class="user-meta ion-text-center mb-12">
                <div class="provider-title">
                    {{service.serviceProvider.fname}}
                    {{service.serviceProvider.lname}}
                    <img src="assets/icon/solar_medal-ribbon-star-bold-duotone.svg" alt="">
                </div>
            </div>
            <ion-list>
                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <img alt="..." src="assets/icon/ph--at-duotone.svg" />
                    </ion-thumbnail>
                    <ion-label>{{service.serviceProvider.email}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <img alt="..." src="assets/icon/solar--phone-calling-rounded-bold-duotone.svg" />
                    </ion-thumbnail>
                    <ion-label>{{service.serviceProvider.phone}}</ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <img alt="..." src="assets/icon/solar--map-point-wave-bold-duotone.svg" />
                    </ion-thumbnail>
                    <ion-label>{{service.distance}} Km away</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <bw-booking *ngIf="showBooking" [id]="service.id" (showBookingToast$)="toggleToast($event)"
        (dismissModal$)="toggleShowBooking()"></bw-booking>
</ion-content>
<ion-toast [isOpen]="showToast$" [message]="showToastMessage$" [duration]="5000"></ion-toast>